<div class="container">
  <div class="row">
    <div class="col-sm-12 counter_container">
      <div class="counter_container--light_bg flexible_container">
        <div class="counter_logo flexible_element">
          <img src="assets\images\logo_with_bg.png" alt="logo">
        </div>
        <div class="counter_content flexible_element flexible_element--center">
          <p>Wszystkie miejsca zostały zajęte. Rozstrzygnięcie konkursu za: </p>
        </div>
        <div class="counter_timer flexible_element">
        </div>
      </div>
    </div>
  </div>
</div>
